html{
  background-color: #292929;
  font-family: 'Noto Sans TC', sans-serif;
}

/********************************  Board CSS   *********************************/

td {
  padding: 0px;
  height: 70px;
  width: 70px;
  line-height: 20px;
  border-collapse: collapse;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 5px 5px 10px ;
}
td:hover{
  background-size: 78px;
  background-color: rgba(255, 0, 0, 0.521);
}
table {
  border-spacing: 0px;
  margin: auto;
  box-shadow: 5px 5px 10px ;
  filter: blur(5px);


}
#Board{
  margin-top: 70px;
}
.highlight{
  transition: 0.3s;
  border-radius: 50%;
  box-shadow: 5px 5px 10px ;

}
.selected{
  background-color: rgba(255, 0, 0, 1.0) !important;
}
.black{
  background-color: #0af1a0ad;
}
.white {
  background-color: rgba(211, 218, 187, 0.808);
  background-size: 70px;
  background-repeat: no-repeat;
}
.black_pawn{
  background-image: url("../imgs/B_p.png");
}.white_pawn{
  background-image: url("../imgs/white_pawn.png");
}.black_rook{
  background-image: url("../imgs/B_r.png");
}.white_rook{
  background-image: url("../imgs/white_rook.png");
}.black_knight{
  background-image: url("../imgs/B_knight.png");
}.white_knight{
  background-image: url("../imgs/white_knight1.png");
}.black_bishop{
  background-image: url("../imgs/B_b.png");
}.white_bishop{
  background-image: url("../imgs/white_bishop1.png");
}.black_king{
  background-image: url("../imgs/B_k.png");
}.white_king{
  background-image: url("../imgs/white_king.png");
}.black_queen{
  background-image: url("../imgs/B_q.png");
}.white_queen{
  background-image: url("../imgs/white_queen.png");
}
/******************************************************************************/


.in{
  position: absolute;
  top:80px;
  left:50px;
}
.btn{
  /* border: none; */
  display: inline-block;
  color: aliceblue;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px;
}
.btn:hover{
  border-width: 2px;
  border-color: whitesmoke;
}
.gr{
  background-color: #04CB28;
}
.bl{
  background-color: rgba(5, 71, 255, 0.856);
}
input{
  padding: 5px;
  border: none;
  border-radius: 2px;
}

.ID{
  width: 200px;
  height: 26px;
  text-align: center;
  background-color: #292929;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: white;
  margin: 15px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}
.ID:hover{
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
/* toggle button css */
input[type="checkbox"]
{
    position: absolute;
    top: 10px;
    width: 120px;
    height: 40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg,#333,#000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535,0 0 0 5px #3e3e3e,
    inset 0 0 10px rgba(0,0,0,1), 0 5px 20px rgba(0,0,0,.5),
    inset 0 0 15px rgba(0,0,0,.2);
    
}
input[type="checkbox"]:before{
    content: '';
    position: absolute; 
    top: 0;
    Left: 0;
    width: 80px;
    height:40px ;
    background: linear-gradient(0deg,#000,#6b6b6b);
    border-radius: 20px;
    box-shadow:0 0 0 1px #232323;
    transform:scale(.98,.96);
    transition: .5s;

}
input:checked[type="checkbox"]:before{
    left:40px ;
    transition: .5s;
}
input[type="checkbox"]:after{
    content: '';
    position: absolute;
    top: 18px;
    Left: 65px;
    width: 5px;
    height:5px ;
    background: linear-gradient(0deg,#000,#6b6b6b);
    border-radius: 50%;
    box-shadow:0 0 0 1px #232323;
    transform:scale(.98,.96);
    transition: .5s;

}
input:checked[type="checkbox"]:after{
    left:105px ;
    background: rgb(19, 223, 46);
    transition: .5s;
    
}
input:checked[type="checkbox"]{
    background: rgb(19, 223, 46);

}

/* */
#AI{
  font-size: 32px;
  color: rgb(196, 196, 196);
  margin: 0px;
  position: absolute;
  top: 10px;
  left: 150px;
}

/******************** CHAT BOX CSS ***************************/

.chatBox{
  background-image: url("../imgs/background.jpg");
  background-repeat: no-repeat;
  background-size: 300px 500px;
  position: absolute;
  top:20px;
  right: 50px;
  border-radius: 10px;
  width: 300px;
  height: 500px;

}
.msg{
  color: grey;
  padding: 10px;
  margin: 5px;
  overflow:scroll;
  height: 330px;
}
.heading{
  text-align: center;
  padding: 15px;
  color: white;
  margin-bottom: 20px;
  background-color: #292929;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
::-webkit-scrollbar{
  width: 0px;
}
#typemsg{
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.send{
  display: flex;
}

.msgbox{
  background-color: white;
  padding: 10px;
  font-size: 12px;
  overflow: scroll;
  width: 180px;
  height: 40px;
  margin-bottom: 20px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
}
.rcvmsg{
  background-color: #E2FFE8;
}
.sentmsg{
  position: relative;
  left: 70px;
}
#sendbtn{
   background-color: #292929;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#modal{
  padding: 50px;
  background-color:white;
  position: absolute;
  top: 160px;
  left: 525px;
  text-align: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  z-index: 100;
}